@import 'Variables';
.forecast {
    &__scrolled{
        overflow-x: scroll;
    }
    &__title {
      color: $fontGrayColor;
      display: flex;
      justify-content: space-between;
    }
  
    &__table {
      width: 100%;
      padding: 0.8rem;
  
      table {
        width: 100%;
        border-collapse: collapse;
      }
  
      tbody {
        tr {
          cursor: pointer;
        }
      }
  
      th, td {
        text-align: left;
        color: $fontGrayColor;
        font-weight: 500; // Applying this to both, specific override will follow
  
        @media screen and (min-width: 992px) {
          font-size: 1.2rem;
          padding: 0.7rem;
          
          &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
  
        @media screen and (max-width: 992px) {
          font-size: 0.9rem; // Override for th
          padding: 0.5rem; // Override for th
          
          &:not(:last-child) {
            border-right: 0.5px solid rgba(0, 0, 0, 0.05);
          }
        }
      }
  
      th {
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
  
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
          @media screen and (max-width: 992px) {
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  
    &__thead {
      background-color: rgba(237, 241, 252, 1);
      border-radius: 10px;
    }
  
    &__weather__description {
      display: flex;
      flex-direction: row;
      width: 100%;
  
      &__image {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
      }
  
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  
    &__show-more {
      left: 0;
      animation: slideIn 2s linear infinite, blinking 2s linear infinite;
  
      @media screen and (min-width: 764px) {
        display: none;
      }
    }
  }
  