.hourly-current {
    margin: 0 1rem;
    padding: 1rem;
    border-top: 2px solid #e0e0e0;

    @media screen and (max-width: 768px) {
        padding: 1rem 0;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow-x: auto;

    }
}
