body, .App, #root, .WeatherApp {
  min-height: 100vh;
  width: 100%;

}


.App {
  text-align: center;
  
}



* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 30px; /* border radius of the scroll thumb */
}




