body, .App, #root, .WeatherApp {
  min-height: 100vh;
  width: 100%;

}


.App {
  text-align: center;
  
}



* {
  scrollbar-width: thin;
  scrollbar-color: #2e2d2d transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #2e2d2d transparent;
  }

}





