
.current-card{
  overflow: auto;
  background-color:  rgba(237, 241, 252, 1);
  border-radius: 15px;
  padding: 1rem;;  
  text-align: left;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  
}

.current-title{
  color: rgba(0, 0, 0, 0.7);
}


.current-card-header{
  color:black ;
  font-size: 1.5rem;
  text-align: center;
}



.current-time{
  font-size: 1rem;
  margin-bottom: 1rem;

}



@media screen and (max-width: 773px){
  .current-card-bullets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.1rem;
    
  }
}

@media screen and (min-width: 773px){
  .current-card-bullets{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 0.1rem;
    /* width: 60%; */
    flex-wrap: wrap;
  }
  .bullet{
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px){
  /* .current-card-bullets{
    margin-left: 3rem;
  } */
  .current-card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
  }


}

@media screen and (max-width: 768px){
  .current-card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
  }


  .pro-title{
    text-align: center;
  }

}

.bullet{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.bullet span,b{
  display: inline-block;
  margin-right: 0.3rem;

}

.bullet b{
  font-weight: 500;
}

.current-card-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.current-card-temperature{
  background: linear-gradient(
    rgba(173, 216, 230, 0.8), 
    rgba(0, 75, 255, 0.8)    
  );
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50%;
  /* padding: 1.5rem; */
  color: white;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.current-card-temperature img {
  margin-top: -1rem;

  max-height: 100%; /* Limit image size to fit in the circle */
  max-width: 100%; /* Limit image width to maintain aspect ratio */
}

.current-card-temperature .date-day {
  position: absolute;
  margin-top: 3.9rem; /* Adjust as necessary for spacing from the bottom */
}



.current-card-bullets{
  font-size: 1.2rem;
}

.pro-title{
  margin-bottom: 1rem;
  font-weight: 500  ;
  
}