.hourly-table{
    overflow: scroll;
    width: 100%;
    padding: 2rem;
}

.hourly-table table{
    width: 100%;
    border-collapse: collapse;
    
}


@media screen and (min-width: 992px){
    .hourly-table th{
        font-size: 1.3rem;
        padding: 1rem;
    }
    .hourly-table td{
        font-size: 1.3rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 992px){
    .hourly-table th{
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    .hourly-table td{
        font-size: 0.8rem;
        padding: 0.4rem;
    }
}

.hourly-table th{
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.hourly-table td{
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.hourly-table .weather{
    min-width: 150px;
} 

.hourly-table td:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.hourly-table tr:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hourly-table .precipitation{
    max-width: 100%;   
}