.modal-body {
    overflow: auto;
  }
  
.modal-dialog {
  margin: 100px auto;

  @media screen and (min-width: 992px) {
    width: 100%;
    min-width: 600px;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
    max-width: 500px;
  }
}